* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 33, 36);
    color: orange;
}
header {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: greenyellow;
}