<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db_*/CINE\*_db{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/src/styles/style.css">
</head>
<body>
<header>
    <a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/">//_accueil</a>

    <ul>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/listActors">//_liste acteurs</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printAddActor">//_ajouter un acteur</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printUpdateActorList">//_modifier un acteur</a></li>
    </ul>
    <ul>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/listDirectors">//_liste réalisateurs</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printAddDirector">//_ajouter un réalisateur</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printUpdateDirectorList">//_modifier un réalisaeur</a></li>
    </ul>
        
    <ul>      
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/moviesList">//_liste films</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printUpdateMovieList">//_modifier un film</a></li>
        <li><a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printUpdateCommentList">//_commentaires</a></li>
    </ul>
</header>

<div class="container">
    
        <h1>{% block h1 %}{% endblock %}</h1>

        {% block content %}
        {% endblock %}
</div>

</body>
</html>