{% extends "base.html.twig" %}

{% block header %}
    
        <ul>
            <li><a href="<?=_URL?>listeActeurs">//_liste acteurs</a></li>
            <li><a href="<?=_URL?>addActor">//_ajouter un acteur</a></li>
            <li><a href="<?=_URL?>updateActeur">//_modifier un acteur</a></li>
        </ul>
        
        <a href="<?=_URL?>directorsList">//_liste réalisateurs</a>
        
        
        <a href="<?=_URL?>moviesList">//_liste films</a>
        
{% endblock %}
    
