{% extends "base.html.twig" %}

{% block title %} film {% endblock %}

{% block h1 %}Mofifier un film{% endblock %}

{% block content %}
<h2>Choisir un film</h2>
<form action="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printUpdateMovie" method="POST">
    <select name="movie">
       {% for movie in movies %}
            <option value="{{movie.id}}">
            {{movie.title}}
            </option>
        {% endfor %}
    </select><br>
    <input type="submit" value="OK">
</form>

{% endblock %}