{% extends "base.html.twig" %}

{% block title %} {{role}} {% endblock %}

{% block content %}

<h1>Ajouter un {{role}}</h1>

<form action="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/add{{status}}" method="POST">
    <input type="text" name="first_name" placeholder="Prénom"><br>
    <input type="text" name="last_name" placeholder="Nom"><br>
    <input type="submit" value="OK">
</form>

{% endblock %}