{% extends "base.html.twig" %}

{% block title %} Acteur {% endblock %}

{% block content %}

<h1>Mofifier un acteur<h1>

<h2>Apporter les modifications</h2>

<form action="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/updateActor" method="POST">

    <input type="text" name="first_name" value="{{actor.first_name}}"><br>
    <input type="text" name="last_name" value="{{actor.last_name | upper}}"><br>
    <input type="submit" value="OK">

</form>

{% endblock %}