{% extends "base.html.twig" %}
{% block title %} films {% endblock %}

{% block h1 %}Liste des films{% endblock %}

{% block content %}

<ul>
{% for movie in movies %}
    
       <li>{{movie.title}}<a href="/afpa_dwwm/back_end_01/mvc/objet/mvcobjet/printOneMovie/{{ movie.id }}"> //_afficher les détails</a></li>

{% endfor %}
</ul>
{% endblock %}
