{% extends "base.html.twig" %}
{% block title %} films {% endblock %}

{% block content %}
<h1>Liste des films</h1>
<ul>
{% for movie in movies %}
    
       <li>{{movie.title}}<a href=""> //_afficher les détails</a></li>

{% endfor %}
</ul>
{% endblock %}
