{% extends "base.html.twig" %}

{% block title %} Erreurr {% endblock %}
{% block h1 %}Erreur{% endblock %}
{% block content %}

    <div class="error">
        <span>Oups! 🥺<br>{{error}}</span>
    </div>

{% endblock %}